.container {
    background: #F8F8F8;
    border-radius: 15px;
    padding: 12px 20px;
    border-radius: 12px;
    width: 100%;
    overflow-x: scroll;
}

.container>div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.container>div>h2 {
    text-align: center;
    color: #030719;
    font-weight: 500;
    font-size: 28px;
}

.container>div>div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: #F8F8F8;
    border: 1px solid #D8D8D8;
    padding: 8px 30px;
    border-radius: 12px;
    cursor: pointer;
    gap: 8px;
}

.container>div>div:hover {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12);
    border: 1px solid transparent;
}

.container>div>div:nth-child(2) {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px transparent;
}

.container>div>div:nth-child(2) {
    background: #FFFFFF;
    border: 1px solid transparent;
    cursor: auto;
}

.container>div>div:nth-child(2)>span,
.container>div>div:nth-child(2)>span {
    color: #000000 !important;
    font-weight: 500 !important;
    font-size: 16px !important;
}

.container>div>div>span {
    color: #000000;
    font-weight: 400;
    font-size: 15px;
}

.container>div>div>span:last-child {
    color: #000000;
    font-weight: 500;
    font-size: 15px;
}

.totalPrice>span:first-child {
    grid-column: span 4/5;
}


@media only screen and (max-width:991px) {
    .container>div {
        min-width: 850px;
        width: 100%;
    }
}