.leftNavWrapper {
    background: #F8F8F8;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    /* align-items: center; */
    padding: 20px 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.menuItems>a {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: "10px";
    padding: 8px 12px;
    border-radius: 10px;
    width: 100%;
    transition: all 0.3s ease;
    margin: 12px 0;
}

.menuItems>a:hover {
    opacity: 0.7;
}

.menuItems>a>img {
    /* filter: invert(1); */
    width: 28px;
}

.menuItems>a>span {
    color: #000000;
    font-size: 14px;
}

.menuItemActive {
    background: #000000;
}

.menuItemActive>img {
    filter: invert(1) !important;
}

.menuItemActive>span {
    color: #FFFFFF !important;
}

/* Sub Menu */
.subMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.subMenu>a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 12px 5px 20px;
    border-radius: 7px;
}

.subMenu>a>img {
    width: 20px;
}

.subMenu>a>span {
    font-size: 13px;
}

.activeSubMenu {
    background: #FFFFFF;
}



@media only screen and (max-width: 991px) {
    .leftNavWrapper {
        width: 0px;
        display: none;
    }

    .logo {
        font-size: 14px;
        font-weight: normal;
    }

    .menuItems>a>img {
        width: 20px;
    }

    .subMenu>a>img {
        width: 15px;
    }

    .activeMobileMenu {
        width: 65px;
        display: flex;
        padding: 10px 5px;
    }

    .menuItems>a {
        padding: 4px 7px;
    }

    .activeMobileMenu span {
        display: none;
    }
}