#section08 {
    margin: 70px 0;
}

#section08 h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
}

#section08 img {
    margin-bottom: 20px;
}

#section08 h3 {
    font-weight: 700;
    font-size: 25px;
    max-width: 215px;
    margin: auto;
}

#section08 p {
    font-weight: 400;
    font-size: 18px;
    color: #717171;
    max-width: 320px;
    margin: auto;
}

#section08 a {
    font-weight: 500;
    font-size: 15px;
    color: #DE4F4D;
}