.modalContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    flex-direction: column;
    padding: 8px;
}

.modalBoxWrapper {
    padding: 25px;
    background: #FFFFFF;
    border-radius: 20px;
    max-width: 549px;
    width: 100%;
    margin: 10px;
    margin-top: 30px;
    max-height: 85vh;
    overflow: scroll;
    position: relative;
}

.modalCloseBtn {
    box-sizing: "border-box";
    top: 15px;
    right: -8px;
    z-index: 9999;
    background: #DE4F4D;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    color: white;
    position: absolute;
    border: 5px solid rgba(0, 0, 0, 0.8);
}

.heading {
    text-align: center;
    margin-bottom: 0;
    font-size: 22px;
}

.subHeading {
    text-align: center;
    margin-bottom: 0;
    font-size: 13px;
    color: #717171;
}